syntax: glob

.git/
.DS_Store
._.DS_Store
*.pyc
*.stats.json
*.stats.new.json
.idea
.npm-debug.log

.venv/
venv

npm-debug.log

.deploy/*
media/*
static/*

node_modules/
yarn.lock

package-lock.json

.cache-loader/
assets/app/front/static-url.less
assets/js/django_js_reverse/reverse.js

config.json

.uwsgi/
uwsgi.ini

tools/data/
yarn-error.log
